    body{
        margin: 0;
        background-color: white;
        width: 100%;
        height: 4835px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .ilkdiv{
        width: 100%;
        height: 812.53px;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .navbar{
        width: 100%;
        height: 94px;
        
        display: grid;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr  1fr;
        
    }
    .logo{
        
       margin-top: 8%;
        

    }
    .logo a{
        text-decoration: none;
        color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .logoMetin{
        font-family: Monstserrat ,sans-serif;
        font-weight: bold;
        font-size: 34px;
    }
    .logoResim{
        
        display: flex;
        justify-content: flex-end;
    }
    .logoResim img{
        width: 40%;
        height: 75%;
        margin-right: 5%;
    }
    .sayfalar {
        font-family: Poppins,sans-serif;
        font-size: 16px;
        font-weight: 500;
        grid-column: span 2;
        margin-top: 40px;
        margin-left: 16%;
        
    }
    .sayfalar a{
        text-decoration: none;
        color: black;
        margin-left: 10%;
        
    }
    .ikonlar{
        margin-top: 36px;
        display: flex;
        justify-content: flex-end;
        margin-right: 20%;
    }
    .ikonlar img {
        width: 100%;
        height: auto;
    }
    .ikonlar a{
        text-decoration: none;
        margin-left: 16%;
        
    }
    .ilkTanitim {
        width: 100%;
        height: 718.53px;
        background-image: url('../img/scandinavian-interior-mockup-wall-decal-background 1.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .ilkBilgi {
        width: 44%;
        max-width: 643px;
        height: 443px;
        background-color: #FFF3E3;
        border-radius: 10px;
        margin-top: 150px;
        margin-bottom: 110px;
        margin-right: 30px;
        display: grid;
        
    }
    .ilkMiniBaslik{
        font-family: Poppins,sans-serif;
        color:black;
        font-weight: 600;
        font-size: 16px;
        margin-left: 41px;
        margin-top: 50px;
    }
    .ilkBaslik{
        font-family: Poppins,sans-serif;
        color: #B88E2F;
        font-weight: bold;
        font-size: 52px;
        margin-left: 41px;
       
    }
    .ilkMetin{
        font-family: Poppins,sans-serif;
        color: #333333;
        font-weight: 500;
        font-size: 18px;
        margin-left: 41px;
        
    }
    .ilkButton{
        font-family: Poppins,sans-serif;
        width: 35%;
        background-color: #B88E2F;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 16px;
        border: none;
        margin-left: 41px;
        margin-bottom: 50px;
    }
    .ilkButton:hover{
        cursor: pointer;
    }
    .kategori{
        margin-top: 56px;
        width: 100%;
        height: 685;
        display: grid;
        grid-template-rows: 10% 10% 80%;
        place-items: center;
    }
    .kategoriBaslik{
        font-family: Poppins,sans-serif;
        font-weight: bold;
        font-size: 32px;

    }
    .kategoriMetin{
        font-family: Poppins,sans-serif;
        font-weight: 400;
        font-size: 20px;

    }
    .kategoriResimler{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 2%;
        
        
    }
    .kutu{
        display: grid;
        grid-template-rows: 90% 10%;
        align-items: center;
        
    }
    .kutu img{
        border-radius: 16px;
        height: 100%;
    }
    .kutu span{
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-size: 24px;
        margin-left: 35%;
    }
    .ürünler{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 90% 5%;
        grid-template-areas: "ürünlerBaslik" "ürünlerBilgi" "ürünlerTus";
        
        width: 100%;
        height: 1084px;
        margin-top: 56px;
    }
    .ürünlerBaslik{
        display: grid;
        place-items: center;
        grid-area: ürünlerBaslik;
        font-family: Poppins,sans-serif;
        font-weight: bold;
        font-size: 32px;
        margin-top: 0px;
        
    }
    .ürünlerSira{
        margin-top: 0px;
        grid-area: ürünlerBilgi;
        width: 100%;
        height: 446px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        gap: 32px;

    }


    .ürünlerKutu{
        width: 285px;
        height: 446px;
        display: grid;
        grid-template-columns:  301px 145px;
        grid-template-rows: 1fr;
        grid-template-areas: "ürünResim" "ürünBilgi";
        margin-right: 5%;
    }

    .ürünlerKutuResim{
        grid-area: ürünResim;
        width: 100%;
    }
    .ürünlerKutuResim img {
        width: 285px;
        height: 301px;
    }
    
    .ürünKutuBilgi{
        grid-area: ürünBilgi;
        width: 88%;
        height: 99px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "ürünBaslik ürünBaslik" "ürünTür ürünTür" "ürünFiyat ürünEski";
        background-color: #F4F5F7;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 11px;
        padding-bottom: 21px;
        
    }
    .ürünlerKutuBaslik{
        grid-area: ürünBaslik;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-size: 24px;
        color: 3A3A3A;
    }
    .ürünlerKutuTür{
        grid-area: ürünTür;
        font-family: Poppins,sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #898989;
    }
    .ürünlerKutuFiyat{
        grid-area: ürünFiyat;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #3A3A3A;
        
    }
    .ürünlerKutuEski{
        display: grid;
        grid-area: ürünEski;
        font-family: Poppins,sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #B0B0B0;
        text-decoration: line-through;
        margin-left: 25%;
    }
    .ürünlerButton{
        margin-top: 0px;
        grid-area: ürünlerTus;
        place-self: center;
        width: 245px;
        height: 48px;
    }
    .ürünlerButton button{
        width: 100%;
        height: 100%;
        color:#B88E2F;
        border: 1px solid #B88E2F;
        background-color: white;
    }